* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Amatic SC', cursive;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
	color: #3399CC;
	letter-spacing: 0.05em;
	font-size: 5rem;
	text-align: center;
}

.slider {
	width: 500px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
}

.slider__image_container {
	height: 500px;
	display: flex;
	width: 2000px;
}

.slider__text_container {
	display: flex;
	width: calc(100% * 4);
	height: 100%;
}

.text_title {
	font-size: 2.3rem;
	display: inline-block;
	width: 500px;
	height: 100%;
}

.slide {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.slider__pagination {
	
}

.slide_1 {
	background-image: url(./assets/M51.jpg);
}

.slide_2 {
	background-image: url(./assets/M63.jpg);
}

.slide_3 {
	background-image: url(./assets/M64.jpg);
}

.slide_4 {
	background-image: url(./assets/NGC6946.jpg);
}


